<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/perfumes.css" />

<body>
  <!-- <img src="/img/2.jpeg" alt="img jpg " class="bg-img"> -->

  <div class="perfumes-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/perfume/all">Perfumes</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li class="nav-item" style="cursor: pointer" onclick="return confirm('Do you want to logout?')">
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="store-menu-frame">
      <div class="board">
        <div class="dishes-table">
          <span class="new-dish-txt" style="margin-bottom: 30px">Perfumes LIST</span>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Name</th>
                <th scope="col">Collection</th>
                <th scope="col">Size</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <% perfumes.map(function(value, key) { %>
              <tbody style="background: white">
                <td><%= key + 1 %></td>
                <td><%= value.perfumeName %></td>
                <td><%= value.perfumeCollection %></td>
                <td><%= value.perfumeSize %></td>
                <td><%= value.perfumeBrand %></td>
                <td><%= value.perfumePrice %></td>
                <td><%= value.perfumeLeftCount %></td>
                <td>
                  <select class="spec-select new-perfume-status" id="<%= value._id %>">
                    <option value="OUT_OF_STOCK" <%= value.perfumeStatus === "OUT_OF_STOCK" ? "selected" : "" %>>Out of Stock</option>
                    <option value="AVAILABLE" <%= value.perfumeStatus === "AVAILABLE" ? "selected" : "" %>>Available</option>
                    <option value="DELETE" <%= value.perfumeStatus === "DELETE" ? "selected" : "" %>>Delete</option>
                  </select>
                  
                </td>
              </tbody>
            <% }) %>
          </table>

          <div class="long-input" style="align-items: flex-end; margin-bottom: 25px">
            <button class="btn btn-primary" id="process-btn">New Perfume</button>
          </div>
        </div>

        <form
          onsubmit="return validateForm()"
          action="/admin/perfume/create"
          method="POST"
          class="dish-container"
          enctype="multipart/form-data"
        >
          <div class="long-input" style="display: flex; align-items: center">
            <span class="new-dish-txt">NEW PERFUME DETAIL</span>
          </div>

          <div class="login-input-frame">
            <div class="long-input">
              <label>Perfume Name</label>
              <input type="text" placeholder="Name" name="perfumeName" class="perfume-name" />
            </div>
            <input name="perfumestatus" value="OUT_OF_STOCK" class="perfume-status" hidden />
          </div>

          <div class="half-input-frame">
            <div class="half-input">
              <label>Perfume Price</label>
              <input type="number" placeholder="Price" name="perfumePrice" class="perfume-price" />
            </div>
            <div class="half-input">
              <label>Perfume Stock Count</label>
              <input type="number" placeholder="Counts" name="perfumeLeftCount" class="perfume-left-count" />
            </div>
          </div>

          <div class="half-input-frame">
            <div class="half-input">
              <label>Perfume Collection</label>
              <select class="perfume-collection" name="perfumeCollection">
                <option value="Eau de Cologne">Eau de Cologne</option>
                <option value="Eau de Toilette">Eau de Toilette</option>
                <option value="Eau de Parfum">Eau de Parfum</option>
                <option value="Parfume">Parfume</option>
                <option value="Aroma">Aroma</option>
              </select>
            </div>
            <div class="half-input">
              <label>Perfume Size</label>
              <select class="perfume-size" name="perfumeSize">
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
              </select>
            </div>
            <div class="half-input">
              <label>Perfume Brand</label>
              <select class="perfume-brand" name="perfumeBrand">
                <option value="Chanel">Chanel</option>
                <option value="Dior">Dior</option>
                <option value="Tom Ford">Tom Ford</option>
              </select>
            </div>
          </div>

          <div class="long-input">
            <label>Perfume Description</label>
            <textarea name="perfumeDesc" class="perfume-desc"></textarea>
          </div>

          <div class="img-frame">
            <label>Perfume Images</label>
            <div class="media-frame">
              <% for (let i = 1; i <= 5; i++) { %>
                <div class="upload-img-box">
                  <img 
                    src="/img/upload.svg" 
                    class="<%= i %>" 
                    id="image-section-<%= i %>" 
                    onclick="document.getElementById('file-<%= i %>').click()" 
                    style="cursor: pointer;"
                  />
                  <input
                    type="file"
                    id="file-<%= i %>"
                    name="perfumeImages"
                    class="image-<%= i %>"
                    style="display: none;" 
                    <%= i === 1 ? 'required' : '' %>
                    onchange="previewFileHandler(this, <%= i %>)"
                  />
                </div>
                
              <% } %>
              <input name="storeIid" class="store-id" hidden />
            </div>
          </div>

          <div class="operation-buttons">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create-btn">Create</button>
          </div>
        </form>
      </div>
    </div>
  
</div>
  <script type="text/javascript" src="/js/perfume.js"></script>
</body>

<%- include('includes/footer') %>
